node_modules
dist
azure-devops-wiki-editor*.zip
*.pem

# IDE files
.artefacts
.claude
.codemie
.cursor
.github
!.github/workflows
.specstory
.vscode
AGENTS.md
CLAUDE.md
PROJECT.md

.inputs
server.log
